<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="1">
    <title>seminarprojekt</title>
</head>

<body id="test">

    <h3>Wago 750:</h3>
    <br>

    <canvas id="canvas1" width="1400" height="90" style="border:1px solid">
    </canvas>

    <br>

    <script>
        const c = document.getElementById("canvas1");  // find canvas and init
        const ctx = c.getContext("2d");
        ctx.fillStyle = "#92B901";
        ctx.strokeStyle = "black"

        //const leuchtet = [[${meineliste}]];
        var j = [[${meinezahl}]];
        var led_status = [
        [[${x_0}]], [[${x_1}]], [[${x_2}]], [[${x_3}]], [[${x_4}]], [[${x_5}]], [[${x_6}]], [[${x_7}]],
        [[${x_8}]], [[${x_9}]], [[${x_10}]], [[${x_11}]], [[${x_12}]], [[${x_13}]], [[${x_14}]], [[${x_15}]]
        ];

        for (let i = 1; i < 17; i++) {
            if (led_status[i-1] == 1){
                ctx.fillStyle = "coral";
            }
            else{
                ctx.fillStyle = "linen"
            }
            ctx.beginPath();
            ctx.arc(40*2*i,40,30,0,Math.PI*2,true); //x0
            ctx.fill();
            ctx.stroke();
        }
    </script>

    <p>
        <span th:text="'[' + ${x_0}"></span>
        <span th:text="${x_1}"></span>
        <span th:text="${x_2}"></span>
        <span th:text="${x_3}"></span>
        <span th:text="${x_4}"></span>
        <span th:text="${x_5}"></span>
        <span th:text="${x_6}"></span>
        <span th:text="${x_7}"></span>
        <span th:text="${x_8}"></span>
        <span th:text="${x_9}"></span>
        <span th:text="${x_10}"></span>
        <span th:text="${x_11}"></span>
        <span th:text="${x_12}"></span>
        <span th:text="${x_13}"></span>
        <span th:text="${x_14}"></span>
        <span th:text="${x_15} + ' ]'"></span>
        <br>
        <span th:text="'Wago 750 letzter Wert (int Repräsentation): ' + ${wago750}"></span>
        <br>
        <span th:text="' mit timestamp: ' + ${wago_timestamp}"></span>
    </p>



    <form action="#" th:action="@{/homepage}" th:object="${wahl}" method="post">
        <p>Modus auswählen:</p>
        <input type="radio" id="modus_0" name="modus 0" value="0" th:field="*{data}">
        <label for="modus_0">Modus 0</label><br>
        <input type="radio" id="modus_1" name="modus 1" value="1" th:field="*{data}">
        <label for="modus_1">Modus 1</label><br>
        <input type="radio" id="modus_2" name="modus 2" value="2" th:field="*{data}">
        <label for="modus_2">Modus 2</label><br>
        <input type="radio" id="modus_3" name="modus 3" value="3" th:field="*{data}">
        <label for="modus_3">Modus 3</label>

        <br>
        <input type="submit" value="Gewählten modus ausführen">
    </form>

    <!--<div th:text="${@dostuff.erstellesatz()}">...</div> -->


    <hr>
    <br>
    <h5>
        <h3>Siemens S7-1500 letzte Werte:</h3>
        <span th:text="'S7_1500/Ist:        ' + ${s7_ist}"></span>
        <br>
        <br>
        <span th:text="'S7_1500/Soll:       ' + ${s7_soll}"></span>
        <br>
        <br>
        <span th:text="'S7_1500/Differenz:   ' + ${s7_diff}"></span>
    </h5>

</body>
</html>

<!-- dies ist ein kommentar hallo
x 	Required. The x-coordinate of the arc's center
y 	Required. The y-coordinate of the arc's center
radius 	Required. The radius of the arc
startAngle 	Required. The angle where the arc starts in radians
endAngle 	Required. The angle where the arc ends in radians
counterclockwise 	Optional. A boolean value. If set to true, it draws the arc counter-clockwise between the start and end angles. The default is false (clockwise)
    <h1> to <h6> − These are heading tags and used to write headings for the webpage. Where, <h1> is the top-level heading and <h6> is the bottom-level (lowest) heading.
    <p> − The <p> tag displays text as a paragraph on the webpage.
    <br> or <br /> − The <br> tag stands for "break", and it inserts a line break on the webpage.
    <div> − The <div> tag stands for "division", it defines a division or section on the webpage. You can place any number of elements to group them in a section.
    <ul> and <ol> − The <ul> and <ol> tags insert list items on the webpage, <ol> tag defines ordered listing, whereas <ul> tag defines unordered listing.
    <li> einzelne elemente in <ul/ol> umgebung werden mit <li> getagged
    <img> − The <img> tag is used to insert an image in the webpage.
    <a> − The <a> tag stands for "anchor", and it is used to place a link in the webpage.
    <pre> − The <pre> tag is used to preserve formatting.
    <center> zentrieren
    <hr> mahlt horizontale linie
    <pre> formatierung beibehalten
-->.